<a href="https://colab.research.google.com/github/Volodikova/volodikova/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C_%D0%BF%D0%BE_%D0%B2%D0%B8%D0%BD%D0%BD%D0%BE%D0%BC%D1%83_%D0%B4%D0%B0%D1%82%D0%B0%D1%81%D0%B5%D1%82%D1%83_ipynb%22%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Предсказываем качество вина

In [ ]:
#Загузка библиотек
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Загружаем данные

Собраны данные:
- fixed acidity
- volatile acidity
- citric acid
- residual sugar
- chlorides
- freesulfur dioxide
- total sulfur dioxide
- density
- pH
- sulphates
- alcohol
- quality

In [ ]:
# Загружаем данные из файла winequality-white.csv в переменную df

In [ ]:
df=pd.read_csv('winequality-white.csv',sep=';')

In [ ]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

## Смотрим статистику, что нет пропусков и отсуствующих значений

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [ ]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    4898.000000       4898.000000  ...  4898.000000  4898.000000
mean        6.854788          0.278241  ...    10.514267     5.877909
std         0.843868          0.100795  ...     1.230621     0.885639
min         3.800000          0.080000  ...     8.000000     3.000000
25%         6.300000          0.210000  ...     9.500000     5.000000
50%         6.800000          0.260000  ...    10.400000     6.000000
75%         7.300000          0.320000  ...    11.400000     6.000000
max        14.200000          1.100000  ...    14.200000     9.000000

[8 rows x 12 columns]

In [ ]:
# повезло с датасетом, все данные строковые и не пустые

In [ ]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

## Формируем признаки и целевую переменную

In [ ]:
## формируем признаки и целнвую переменную

In [ ]:
target_value=df['quality']

In [ ]:
x=df[['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol']]
y=target_value

In [ ]:
x

      fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
0               7.0              0.27         0.36  ...  3.00       0.45      8.8
1               6.3              0.30         0.34  ...  3.30       0.49      9.5
2               8.1              0.28         0.40  ...  3.26       0.44     10.1
3               7.2              0.23         0.32  ...  3.19       0.40      9.9
4               7.2              0.23         0.32  ...  3.19       0.40      9.9
...             ...               ...          ...  ...   ...        ...      ...
4893            6.2              0.21         0.29  ...  3.27       0.50     11.2
4894            6.6              0.32         0.36  ...  3.15       0.46      9.6
4895            6.5              0.24         0.19  ...  2.99       0.46      9.4
4896            5.5              0.29         0.30  ...  3.34       0.38     12.8
4897            6.0              0.21         0.38  ...  3.26       0.32     11.8

[4898 rows x 11 columns]

In [ ]:
y

0       6
1       6
2       6
3       6
4       6
       ..
4893    6
4894    5
4895    6
4896    7
4897    6
Name: quality, Length: 4898, dtype: int64

In [ ]:
## разделяем данные на обучающую и тестовую выборки

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

In [ ]:
x_train

      fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
4823            6.5             0.280         0.34  ...  3.20       0.46     12.0
4741            6.1             0.270         0.31  ...  3.24       0.46     10.9
2269            8.5             0.190         0.56  ...  3.07       0.67      9.3
4146            7.1             0.130         0.29  ...  3.16       0.41      9.7
1393            5.7             0.135         0.30  ...  3.31       0.42      9.3
...             ...               ...          ...  ...   ...        ...      ...
2818            6.0             0.110         0.47  ...  2.91       0.34      9.3
2489            6.1             0.280         0.24  ...  3.19       0.44      9.3
1620            7.8             0.260         0.49  ...  3.03       0.32     11.3
521             7.9             0.190         0.26  ...  3.05       0.74      9.8
3682            6.4             0.160         0.44  ...  3.11       0.75     11.3

[4408 rows x 11 columns]

In [ ]:
y_train

4823    7
4741    6
2269    6
4146    7
1393    6
       ..
2818    4
2489    6
1620    7
521     5
3682    7
Name: quality, Length: 4408, dtype: int64

In [ ]:
#обучение модели

In [ ]:
lr=LinearRegression()
lr.fit(x_train,y_train)
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
lr.coef_

array([ 6.44198557e-02, -1.93080603e+00,  3.07937345e-02,  8.27405007e-02,
        1.31812169e-01,  3.42119738e-03, -2.07283707e-04, -1.50440305e+02,
        6.93520198e-01,  6.34891551e-01,  1.98532364e-01])

## Получаем предсказание и оцениваем качество

In [ ]:
# Получить предсказание

In [ ]:
lr.predict(x_test)

array([5.76791026, 5.84839432, 6.22893575, 6.75038061, 5.46784963,
       5.74099874, 6.35770246, 6.29439769, 5.65247635, 6.10826699,
       5.69480938, 5.22021771, 5.48684469, 5.12296606, 6.8421478 ,
       6.27197481, 6.01354301, 6.12683888, 6.52026566, 5.2943239 ,
       6.00926663, 6.31253008, 5.60173919, 6.5609659 , 6.56013921,
       5.83083764, 5.72244761, 6.18628581, 5.64969881, 5.95060165,
       5.21826208, 6.53767675, 5.94351046, 6.32208922, 6.30532892,
       6.21529576, 6.55529616, 6.35208617, 6.38136795, 6.32965161,
       6.78061491, 6.68277323, 6.15291441, 5.91095421, 5.81913674,
       5.97624076, 5.21964502, 6.05681597, 5.69285876, 6.20964758,
       6.27503395, 6.12209805, 5.88519136, 5.71489965, 5.66911156,
       6.57677193, 7.01993567, 5.53407224, 6.57090745, 5.60664289,
       5.89022839, 6.32951899, 5.99382965, 5.8881005 , 6.65315049,
       5.87994136, 5.43146097, 5.48814745, 6.34981575, 5.86241776,
       7.21016624, 5.23554313, 5.16559861, 6.27028998, 5.87604932,
       6.37900635, 5.83353748, 6.47284911, 5.88929404, 6.33070943,
       5.71546674, 5.7336859 , 6.16476417, 5.32022272, 5.76306958,
       6.49934406, 5.47380442, 5.3792292 , 6.13271897, 4.13256389,
       5.70702322, 6.38680586, 6.60667908, 6.50328586, 5.352306  ,
       5.43771437, 6.40658765, 5.66922514, 5.1814367 , 5.2504527 ,
       5.88061858, 5.8033043 , 6.71085597, 5.92997919, 6.3014643 ,
       5.36471626, 5.6741573 , 5.61812633, 6.39608924, 6.3555556 ,
       5.6078174 , 6.36524433, 5.46433435, 5.60550308, 6.64497236,
       5.86241776, 6.18539287, 5.49140524, 6.17483991, 6.06242968,
       6.16263737, 6.28623545, 5.52358616, 6.30582036, 5.90238777,
       5.7076416 , 5.3239486 , 5.02637486, 6.49480295, 6.14490396,
       6.51542516, 6.27907771, 5.9176686 , 5.65964133, 5.95239356,
       6.17310613, 5.53775494, 5.23748953, 5.78986345, 5.94336565,
       5.68724212, 5.64330135, 5.10071078, 5.70962745, 5.08096873,
       5.954334  , 6.38167864, 5.77571171, 5.69624101, 6.00119801,
       6.75827665, 5.49125122, 5.7536109 , 5.43430837, 5.78287027,
       6.79067965, 6.32448583, 6.30656904, 5.90458852, 6.13280986,
       5.61031849, 6.60869765, 5.34202498, 6.42298464, 5.8851272 ,
       6.63929392, 6.42432023, 5.53634698, 6.32566746, 5.28347674,
       5.41316908, 5.31964143, 5.60825249, 6.57373314, 6.34263922,
       5.96568758, 5.77677592, 5.67595387, 5.72094429, 5.46314598,
       6.30878307, 5.97283392, 5.79471301, 6.03654802, 5.79955859,
       5.43759276, 6.00517025, 5.92262462, 5.08063935, 5.38280693,
       6.5220164 , 6.24023065, 6.36809283, 6.04107514, 5.18925375,
       6.37064686, 5.11960353, 6.01037807, 6.37460538, 6.23947086,
       6.60812972, 6.25866269, 5.96147521, 6.01434768, 5.50245855,
       5.92815713, 6.05681597, 5.89258934, 6.78689213, 6.12956717,
       5.27180331, 5.6554909 , 6.33090249, 5.2517085 , 6.64994017,
       5.17136056, 6.4542289 , 5.77086551, 6.87038635, 6.08214573,
       5.20949467, 6.43948469, 6.65008712, 5.28231706, 5.8399392 ,
       6.26583361, 6.60708814, 6.39200667, 5.10991021, 6.111917  ,
       5.81615542, 5.36834174, 6.4213992 , 6.19876869, 5.96348016,
       6.31674148, 6.41833176, 4.72507825, 5.92088832, 5.83286685,
       5.6168579 , 5.83240751, 5.90985588, 5.05032987, 5.47351595,
       4.61667581, 6.44713365, 5.70742271, 5.99094364, 5.57170925,
       5.56079863, 5.62384945, 5.28181704, 5.46158848, 5.39489521,
       5.47470541, 5.92316296, 5.90289372, 5.323216  , 5.66182032,
       5.46105951, 6.69067175, 6.33388808, 6.62968122, 6.36157837,
       5.43833148, 6.32747087, 6.39129986, 5.26656966, 6.25594808,
       5.07322847, 5.83839592, 6.54992189, 5.62931475, 5.91372223,
       5.85167191, 5.76948181, 6.51521678, 6.49092319, 5.55516836,
       5.36471626, 6.65000025, 5.72479127, 5.07792334, 6.12900908,
       5.79439416, 5.1814367 , 5.60368066, 6.2434755 , 5.76208557,
       5.91814115, 5.67946911, 5.7425312 , 6.0221835 , 6.57157177,
       5.17836158, 7.00965019, 6.04314263, 6.7368465 , 5.41481414,
       5.73537649, 5.33336618, 5.7796551 , 5.99254155, 5.78228851,
       6.37719151, 6.79260966, 5.25443884, 5.24400924, 6.48453029,
       7.11836373, 5.38933024, 6.34494986, 6.16397765, 5.84577679,
       5.50419675, 6.69607888, 5.61269742, 6.43712765, 5.6387553 ,
       6.00899527, 5.4969682 , 5.38170869, 6.53206002, 6.0170303 ,
       5.85340492, 6.28538904, 6.78543838, 6.14575171, 5.92634673,
       6.13104807, 6.05988374, 5.55179213, 6.19692343, 6.07300152,
       5.88632729, 5.57645041, 5.98095475, 5.27967767, 5.73333899,
       6.0780149 , 5.68919642, 5.90985588, 6.03588689, 5.27992721,
       6.01734512, 5.18068292, 6.14606136, 5.36303255, 5.41921216,
       6.83292298, 5.69719517, 5.69634764, 6.05988374, 6.3086927 ,
       5.62749929, 6.42929011, 5.96375259, 4.18836286, 6.31915882,
       6.2330375 , 5.67494923, 5.52786491, 6.44231301, 6.57962199,
       5.71931495, 5.51100993, 6.59447548, 5.66480845, 5.31977669,
       6.28085152, 5.68858409, 6.23112317, 6.48463424, 5.03162994,
       6.42425425, 6.51855705, 5.75553306, 5.48153295, 6.14000543,
       5.58122559, 6.03940965, 5.36443641, 6.78967212, 6.81718275,
       6.27966555, 6.26437406, 6.22364436, 5.53106528, 5.12535345,
       6.12931449, 5.79471301, 5.87796169, 5.35110446, 5.70296332,
       6.32337643, 5.38288525, 6.38994066, 5.67958093, 5.89337652,
       6.1071718 , 6.32989208, 6.43099638, 5.84927346, 6.49248838,
       6.25660986, 5.30347822, 6.60012584, 5.9505176 , 5.77698844,
       6.50612839, 6.26456692, 6.10416954, 6.46295632, 5.78331374,
       5.50616443, 5.84952536, 6.17472518, 5.70167049, 6.08299681,
       6.41147186, 5.83718397, 6.03262479, 5.64438211, 4.93302964,
       5.21207474, 6.47535296, 6.20780247, 6.12108721, 5.28840367,
       5.7281964 , 6.61930451, 5.33304669, 6.04398726, 6.21947907,
       5.65269881, 5.93892386, 5.73931643, 7.31212586, 6.75914009,
       5.93092981, 6.23191535, 5.92288432, 5.51047845, 5.50404974,
       6.12615868, 6.33468556, 6.12086052, 5.24896584, 5.63399539,
       5.46102038, 5.64654872, 5.86825777, 5.61894264, 5.87748425,
       6.1910075 , 6.47871028, 6.76525476, 6.26211458, 6.04351828,
       6.15101682, 6.27670769, 6.15279293, 6.29804927, 5.64973056,
       6.39260961, 6.54727292, 5.95573584, 5.62235009, 6.28723835,
       5.64044102, 5.65271917, 5.98042761, 6.24684524, 5.48331019,
       5.68811768, 6.82362474, 4.94344978, 6.4376325 , 5.44538404,
       6.64584932, 6.07324144, 5.83053826, 5.63320059, 5.33911531,
       6.47098296, 5.38600273, 4.8524502 , 5.5550156 , 5.71052024])

In [ ]:
#оценка на глаз

In [ ]:
pd.DataFrame([y_test.values,lr.predict(x_test)]).T

       0         1
0    6.0  5.767910
1    5.0  5.848394
2    7.0  6.228936
3    7.0  6.750381
4    4.0  5.467850
..   ...       ...
485  6.0  6.470983
486  5.0  5.386003
487  6.0  4.852450
488  6.0  5.555016
489  6.0  5.710520

[490 rows x 2 columns]

In [ ]:
# Оценка качества при помощи метода MSE для тестовой и обучающей выборки

In [ ]:
mean_squared_error(y_test,lr.predict(x_test))

0.5309344596730952

In [ ]:
mean_squared_error(y_train,lr.predict(x_train))

0.5668955115682893

In [ ]:
# Заполняем данные по конкретному вину и делаем точеченое предсказание качества
data = [{
    "fixed acidity": 8,
    "volatile acidity": 0.17,
    "citric acid": 0.4,
    "residual sugar": 23,
    "chlorides": 0.09,
    "free sulfur dioxide": 50,
    "total sulfur dioxide": 170,
    "density": 0.99,
    "pH": 2.1,
    "sulphates": 0.7,
    "alcohol": 12.
}]

In [ ]:
df_wine = pd.DataFrame(data)
df_wine.head()

   fixed acidity  volatile acidity  citric acid  ...   pH  sulphates  alcohol
0              8              0.17          0.4  ...  2.1        0.7     12.0

[1 rows x 11 columns]

In [ ]:
lr.predict(df_wine)

array([7.87116069])